Flask==2.3.2
flask-cors==4.0.0
mysql-connector-python==9.1.0
cryptography
PyJWT==2.9.0
requests==2.31.0
beautifulsoup4==4.12.2
lxml==4.9.3
openpyxl==3.1.2
psutil==7.2.1

dgl==1.1.2
numpy==1.24.4


certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
contourpy==1.1.0
cycler==0.11.0

fonttools==4.42.1
idna==3.4
importlib-resources==6.0.1
jsonpickle==3.0.2
kiwisolver==1.4.5
matplotlib==3.7.2

networkx==3.1


torch==2.0.0
torchaudio==2.0.1
torchvision==0.15.1
